<%- include('./partials/header', { title }) %>
  <ul class="message-details-list">
    <li><%= `User: ${message.user}` %></li>
    <li><%= `Message: ${message.content}` %></li>
    <li><%= `Timestamp: ${message.timestamp}` %></li>
    <li><%= `Message ID: ${message.id}` %></li>
  </ul>
<%- include('./partials/footer') %>